---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family:'NimbusSan';
    src: url('../NimbusSan-Reg.woff');
    font-weight: 400;
}
@font-face {
    font-family:'NimbusSan';
    src: url('../NimbusSan-Bol.woff');
    font-weight:700;
}

@font-face {
    font-family:'NimbusSan';
    src: url('../NimbusSan-RegIta.woff');
    font-weight:400;
    font-style: italic;
}
@font-face {
    font-family:'NimbusSan';
    src: url('../NimbusSan-BolIta.woff');
    font-weight:700;
    font-style: italic;
}
@font-face {
    font-family:'DiplomaScript';
    src: url('../DiplomaScript-Basic.woff');
    font-weight:400;
}

@font-face {
    font-family:'NimbusSan';
    src: url('../NimbusSanExt-Lig.woff');
    font-weight:100;
}

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fefefe;
$background-color: #111111;
$brand-color:      #A48051;

$black:            #111111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  //background-color: $black !important;
  background-color: #111111 !important;
  color: white;
}

body p{
  color: #F0D6B5;
}

h1.post-title{
  color: #167AA1;
  margin-bottom: 25px;
  margin-top: 25px;
}

.home {
  .section {
    background-color: $black;
    color: $text-color;
  }
  h1 {
    color: $brand-color;
    text-align: center;
  }
}
.home {
  .banner-section {
    h1 {
      text-align: center;
      font-size:10em;
      margin-bottom: 0;
      padding: 200px 0;
      .beauty {
font-family:'NimbusSan';
font-weight:60;
color:#F5EDD9;
      }
      .utility {
font-family:'NimbusSan';
font-weight: 700;
color:#F5EDD9;
      }
      .elegance {
font-family:'DiplomaScript';
font-size: 1.5em;
display: block;
padding-top:.5em;
color:$brand-color;
      }
    }
  }
}

.home .intro-section.section{
  padding-bottom: 8em;
  padding-top:2em;
  color:#F0D6B5;
}

.home .intro-section.section .intro{
  padding-top: 75px;
  max-width: 1000px;
  margin: 0 auto;
}

.intro-section.section h1{
  font-family:'DiplomaScript';
  font-weight: 400;
  font-size:5em;
  padding-top: 1em;
  overflow: hidden;
  text-align: center;
}

.intro-section.section h1.centerlines{
    color:#F0D6B5;
}

/*HEADER LINES*/

h1.centerlines{
overflow: hidden;
text-align: center;}
h1.centerlines:before,
h1.centerlines:after {
 background-color: $brand-color;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1.centerlines:before {
 right: 0.5em;
 margin-left: -50%;
}
h1.centerlines:after {
 left: 0.5em;
 margin-right: -50%;
}

/*BUTTONS*/

.buttons-section.section{
  color: $brand-color;
}
.buttons-section.section h1{
  font-family:'NimbusSan';
  font-weight: 400;
  margin: 0 !important;
  padding: 1em !important;
  color:#F0D6B5;
}
.buttons-section.section .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 8em;
  padding-top:2em;
}
.buttons-section.section button {
background-color: black;
    border: 10px;
    border-color: #A48051;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 60%;
}
.contact-section.section p{
  text-align: center;
  padding: 50px;
}

.buttons i {
    font-size: 3em;
    color: #F5EDD9;
}

.buttons a{
background-color: transparent;
border: none;
padding: 50px;
border-radius: 0;
}

.buttons a:hover{
  background-color:#A48051;
}

.buttons a:hover i {
    color: black;
}

div.individual-button p{
  color:#F0D6B5;
  margin-top: 25px;
}

.page-content{
  padding: 0;
  margin: 0;
}

.contact-section p{
  margin:0;
}

.blog-link{
display: flex;
flex-direction: column;
text-align: padding-left;
color: #F0D6B5;
padding-top:1em;
padding-bottom: 1em;
}

.posts-section.section{
  padding-bottom: 8em;
  padding-top: 2em;
}

.posts-section.section h1{
  font-family:'NimbusSan';
  font-weight: 400;
  padding-bottom:25px;
  color:#F0D6B5;
}

a.blog-link:hover{
  color: $brand-color;
}

div.button-names{
  font-size: 1.5em;
  display:flex;
  margin: 0 auto;
  padding-bottom: 50px;
  justify-content:space-evenly;
  color:white;
  flex-direction:row;
  padding-bottom: 100px;
  padding-top: 0 !important;
  max-width:1800px;
}

.contact-section.section h1{
  font-family:'NimbusSan';
  font-weight: 400;
  color:#F0D6B5;
}

div.contact-section.section{
  padding-bottom: 2.5em;
  padding-top: 2em;
}

div.contact-section.section p{
  color: #F0D6B5;
}

/*Gallery Label Spacing*/
div.individual-button{
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.individual-button p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin-bottom: 5em;
}

/*Blog Link Styling*/
a:visited{
  color: #F0D6B5;
}

/*RESPONSIVENESS MOBILE PHONE*/

@media (max-width: 767px) {
  .intro-section.section h1{
    font-family:'DiplomaScript';
    font-weight: 400;
    font-size:2em;
    padding-top: .2em;
    overflow: hidden;
    text-align: center;
    display: block;
  }
  .home {
    .banner-section {
      h1 {
        text-align: center;
        font-size:5em;
        margin-bottom: 0;
        padding: 50px 0;
        display: block;
        .beauty {
  font-family:'NimbusSan';
  font-weight:100;
  display:block;
        }
        .utility {
  font-family:'NimbusSan';
  font-weight: 700;
  display: block;
  padding-bottom:25px;
        }
        .elegance {
  font-family:'DiplomaScript';
  font-size: 1.5em !important;
  display: block;
        }
      }
    }
  }
 }

@media (max-width: 767px) {
  .home .intro-section.section{
    padding-bottom: 3em;
    padding-top:2em;
    color:#F0D6B5;
  }
  .buttons-section.section .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 4em;
    padding-top:2em;

  }
  .buttons i {
      font-size: 3em;
      color: white;
  }
}

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $brand-color;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1111111;
}

/*BLOG PAGE STYLING*/

.site-nav{
  display: none;
}

ol li{
  color:#F0D6B5;
}

ul li{
  color:#F0D6B5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #fff !important;
}

/*Websites Sub-Page Styling*/
 .logo-container .logo-item {
  display: inline-block;
  width: 24%;
  padding: 25px;
  img {
    max-height: 150px;
    width: 100%;
  }
 }

 .page-content {
     padding: 3em;
     margin-bottom: 25em;
 }

 h1.page-title{
   text-align: center;
 }

 a.site-title{
  text-align: center;
 }

 @media only screen and (max-width: 600px) {
  .page-content {
    padding: 2em;
    margin-bottom: 2em;
}
 }