@font-face {
    font-family: Fontin;
    src: url(../fonts/Fontin_Sans_R_45b.otf);
}

.title {
  text-align: center;
  background-image: url("../pics/logs.jpg");
  font-family: "Fontin", sans-serif;
  padding-bottom: 5em;
  padding-top:5em;
  color: white;
}

h1 {
  font-family: "Fontin", sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  text-align:left;
  padding-left: 2em;
  padding-right: 2em;
}

.container-fluid {
  text-align: center;
  background-color: #381B14;
  font-family: "Fontin", sans-serif;

}


.container-projects {
  text-align: center;
  font-family: "Fontin", sans-serif;
  padding-bottom: 3em;
  padding-top:3em;
}


.container-contact {
  text-align: center;
  background-image: url("../pics/stainedwood.jpg");
  font-family: "Fontin", sans-serif;
  padding-bottom: 10em;
  padding-top:5em;
  color:white;
}

.container-contact .container-contactinfo{
  text-align: center;
  padding-bottom: 2em;
  font-size: 2em;

}

.nav-item {
  width:33%;
}

.nav-tabs{
  border-bottom: 1px solid transparent;
}

.info-block{
  padding: 35px;
  font-family: "Pt", sans-serif;
  background-color:#FFCE8C;
}

.projects-wrapper{
  background-image: url("../pics/cutlogs.jpg");
  padding-top: 1em;
  padding-bottom: 2em;
  color:white;
}

.container-projects{
  padding-bottom:1em;
}
.row{
  padding-top:2em;
  padding-bottom:2em;
}

.btn{
background-color: #381B14;
border-color:#FFCE8C;
padding: 10px 20px;
font-size: 20px;
border-radius: 10px;
width: 100%;

}

a.btn-info:hover, a.btn-info.btn:active {
    background-color: #FFCE8C !important;
    color: black !important;
    border-color:#381B14 !important;
}

a.btn-info.btn:focus{
  box-shadow:none;
}
