@font-face {
    font-family: Fontin;
    src: url(../fonts/Fontin_Sans_R_45b.otf);
}

.title {
  text-align: center;
  background-color: #add8e6;
  font-family: "Fontin", sans-serif;
  padding-bottom: 5em;
  padding-top:5em;
}

h1 {
  font-family: "Fontin", sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  text-align:left;
  padding-left: 2em;
  padding-right: 2em;
}

.container-fluid {
  text-align: center;
  background-color: #add8e6;
  font-family: "Fontin", sans-serif;
  padding-bottom: 5em;
  padding-top:5em;
}

.container-projects {
  text-align: center;
  font-family: "Fontin", sans-serif;
  padding-bottom: 3em;
  padding-top:3em;
}


.container-contact {
  text-align: center;
  background-color: #add8e6;
  font-family: "Fontin", sans-serif;
  padding-bottom: 5em;
  padding-top:5em;
}

.nav-item {
  width:33%;
}

.nav-tabs{
  border-bottom: 1px solid transparent;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-block, .info-block {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.info-block{
  font-family: helvetica;
}
.container-fluid.footer{
  background-color: #add8e6;
}
.footer p {
  text-align:center;
  font-size: 1.5em;
}

.projects-wrapper{
  background-color: #DAF0F8;
  padding-top: 1em;
  padding-bottom: 1em;
}

.buttons{

}
