---
layout: home
icons:
  - name: Website Examples
    iconset: fas
    icon: fa-desktop
    url: /websites/
  - name: Github
    iconset: fab
    icon: fa-github
    url: https://github.com/dankamzik
  - name: Original Content
    iconset: fas
    icon: fa-paint-brush
    url: https://drive.google.com/open?id=1zJXY64vx_yYCeWzsoDQX-Hx5zli_4ok5
  - name: Photography
    iconset: fas
    icon: fa-camera
    url: https://drive.google.com/open?id=102Gx8n99MGKKRXHyjMXS7rIYrFIZrbrb
  - name: Resume
    iconset: fas
    icon: fa-file-alt
    url: https://drive.google.com/open?id=1xP5QLiYL2812f9D-Tz-GuYnCJKdNPlfT

---

<div class="home">
  <div class="banner-section section">
    <h1>
      <span class="beauty">Beauty</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="utility">Utility</span>
      <span class="elegance">Elegance</span>
    </h1>
  </div>
<div class="container">
  <div class="intro-section section">
    <h1 class="centerlines">Web Development Solutions</h1>
    <div class="intro">
      <p>
      The perfect blend between utility and beauty is not easy to achieve.
      Time, care, skill and ingenuity must come together to create a sum larger than it's parts.
      When this occurs, a creator has broken into the realm of elegance; a perfect blending of grace and functionality that is more than just a website.
      It is a virtual avatar of the mind; a pure expression of human thought and agency. This is what I strive to achieve. This is what I create.
         <br />
        <br />
        My name is <b style="color:#F5EDD9;" >Daniel Kamzik</b> and I am a Front-End Web Developer.<br />
        <br />
        I specialize in front-end web development and am also adept in WordPress, the Adobe suite, interaction design (Max for Live), sound design (Ableton) and much more.<br />
        <br />
        Below are links to examples of my work and self generated content.<br />
        <br />
        Please enjoy!
      </p>
      <img src="/assets/img/dan-profile.jpg" alt="A picture of Dan Kamzik">
        </div>
  </div>

  <div class="buttons-section section">
    <div class="container">
    <h1 class="centerlines">Projects</h1>
  </div>
     <div class="buttons">
       {% for link in page.icons %}
       <div class="individual-button">
         <a href={{link.url}} title={{link.name}} class="btn btn-primary"><i class="{{link.iconset}} {{link.icon}}"></i></a>
         <p>{{link.name}}</p>
       </div>
       {% endfor %}
    </div>
  </div>


  <div class="posts-section section">
    <div class="container">
      <h1 class="centerlines">Blog</h1>
       <div class="blog">
         {% for post in site.posts %}
          <a href={{post.url}} title={{post.title}} class="blog-link">{{post.title}}</a>
         {% endfor %}
      </div>
    </div>
  </div>


  <div class="contact-section section">
    <div class="container">
    <h1 class="centerlines">Contact</h1>
    <p>
    <i>  ~Drop me a line, I'm always listening~ </i><br /><br />
      Email:<strong> dankamzikdev@gmail.com</strong>&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;Phone:<strong>  203-383-0583 </strong>
    </p>
  </div>
</div>
